# https://stackoverflow.com/a/987162/1620794
# Ignore everything
/*

# But not these files...
# Cisco AnyConnect Secure Mobility Client settings
# Commented out because it has a client thumbprint and my onyen
# !.anyconnect
!.bash_profile
!.boot_camp_add.sh
!.eslintrc.json
!.exrc
!.gitconfig
!.gitignore
!.vimrc
!.zlogin
!.zshrc
!.zshenv
# etc...

# ...even if they are in subdirectories
!*Library/**
!*.atom/**
!/.atom/config.cson
!Library/Application\ Support/Code/User/settings.json

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*
